FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_APP_ID=
KUZENS_AUTH_SECRET=
KUZENS_EMAIL_FROM=Kuzens <giris@stromv2.com.tr>
KUZENS_EMAIL_REPLY_TO=tractiv.info@gmail.com
RESEND_API_KEY=
